[Desktop Entry]
Type=Application
Name=MyCallyPlus GUI
Comment=Run python3 run_gui.py
Exec=/home/chove/Desktop/mydag/mycallyplus/run_gui.sh
Path=/home/chove/Desktop/mydag/mycallyplus
Terminal=false
Icon=utilities-terminal
